@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    color: white;
}

.App {
    text-align: center;
}

/* .search-form-wrapper {
    display: flex;
    justify-content: center;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin: 15px 60px;
}

.movies-list-item {
    margin-bottom: 24px;
    width: 48%;
} */